* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* overflow: hidden; */
    /* margin: 5px; */
    background-image: radial-gradient(circle 70rem at 70% 0%, rgb(33, 40, 32), rgb(41, 41, 41));
    color: white;
}

.header {
    /* height: 10%; */
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 1.5rem;
    margin: 10px 10px 0px 10px;
    vertical-align: -35%;
}

p {
    /* margin-left: 0.5vw; */
    display: inline;
}

.sub-header {
    background: none;
}

.sub-header:hover {
    background-color: rgb(64, 64, 64);
}

.sub-header:last-child:hover {
    background-color: red;
}

#minus {
    stroke: white;
    transform: translate(35%, 50%);
    stroke-width: 2px;
}

#close {
    stroke: white;
    transform: translate(40%, 30%);
    stroke-width: 2px;
}

#maximize {
    transform: translate(25%, 40%);
    stroke-width: 2px;
    stroke: white;
    fill: black;
}

#maximize-2 {
    transform: translate(38%, 25%);
    stroke: white;
    fill: black;
    stroke-width: 2px;
}

.menu {
    width: 20px;
    background: white;
    position: relative;
    border-radius: 4px;
    height: 4px;
    border: none;
    margin: 12px 20px 0px 10px;
}

/* Top line */
.menu::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background: white;
    top: -8px;
    left: 0;
    border-radius: 4px;
}

/* Bottom line */
.menu::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background: white;
    bottom: -8px;
    left: 0;
    border-radius: 4px;
}


nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.left-nav {
    display: flex;
    width: 80rem;
    font-size: 1.5rem;
    /* padding: 0.5rem 1rem; */
}

.right-nav {
    display: flex;
    width: 20rem;
    font-size: 1.1rem;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.sub-record {
    position: relative;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
/* custom underline */
.sub-record::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 2px;
    background: transparent;
    transition: 0.3s
}
.sub-record.active::after {
    background: red;
}

#memory-section {
    display: none;
}


.sub-record:hover {
    color: rgb(220, 220, 220);
}

.main-section {
    display: flex;
    justify-content: space-between;
    height: 59vh;
}

/* calculation area */
#calculation {
    width: 100%;
    height: 12rem;
}

.display {
    width: 100%;
    height: 100%;
    font-size: 5rem;
    text-align: right;
    padding-right: 20px;
    background: none;
    border: none;
    color: white;
    /* border: 1px solid red; */
}

.left-main {
    width: 80rem;
}

.right-main {
    padding: 5px;
    width: 20rem;
    padding-top: 1rem;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.1em;
    height: 100%;
}

button {
    height: 100%;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

.btn-num {
    background-color: rgba(67, 67, 67, 0.7);
    color: white;
}

.btn-clear,
.btn-op,
.btn-eq {
    background-color: rgba(50, 50, 50, 0.7);
    color: white;

}

.btn-clear:hover,
.btn-op:hover,
.btn-eq:hover {
    background-color: rgba(67, 67, 67, 0.7);
}

.btn-num:hover {
    background-color: rgba(50, 50, 50, 0.7);
}

.history-item {
    /* font-size: 1.1rem; */
    padding: 0.5rem 1rem 0.5rem 0rem;
    text-align: right;
    background-color: rgba(67, 67, 67, 0.5);
    margin-bottom: 2px;
    border-radius: 5px;
}
.history-item:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56, 0.7);
}

@media screen and (max-width: 768px) {
    .right-nav {
        font-size: 1rem;
    }
    #memory {
        display: none;
    }
}